$shadow: #839496;
$background: #fdf6e3;
$background2: #eee8d5;
$background3: #93a1a1;
$base01: #586e75;
$link: #268bd2;
$blue: #2aa198;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap&subset=latin-ext');

body {
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  background-color: $background;
}

.fa-icon {
  width: auto;
  height: 1em;
  /* You would have to include the following two lines to make this work in Safari */

  max-width: 100%;
  max-height: 100%;
}